= content_for :page_specific_css do
  = stylesheet_link_tag 'dashboard'

= content_for :page_specific_js do
  :javascript
    $(function() {
      $('.checked').css('fill', $('body').data('user-preferences-color'));
    });

.row
  .col-sm-12#dashboard-maps
    = render 'dashboard/index/map'
.row
  .col-sm-5#dashboard-pie-charts
    = render 'dashboard/index/continent_progress_charts'
  .col-sm-7
    = render 'dashboard/index/countries_chart'
.row
  .col-sm-4
    -# Top countries
