= content_for :page_specific_css do
  = stylesheet_link_tag 'dashboard'

.row
  .col-sm-7#dashboard-maps
    = render 'dashboard/show/map'
  .col-sm-5#dashboard-pie-charts
    = render 'dashboard/show/continent_progress_charts'
.row
  .col-sm-8
    = render 'dashboard/show/countries_chart'
  .col-sm-4
    -# Top countries
