= content_for :page_specific_css do
  = stylesheet_link_tag 'dashboard'

.row
  .col-sm-12#dashboard-maps
    = render 'dashboard/show/map'
.row
  .col-sm-6#dashboard-pie-charts
    = render 'dashboard/show/continent_progress_charts'
  .col-sm-6
    = render 'dashboard/show/countries_chart'
  .col-sm-4
    -# Top countries
