.row
  .col-xs-12.mx-auto.w-50.px-lg-5.mt-3
    = form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'panel') do |f|
      = devise_error_messages!
      .form-group
        = f.email_field :email, autofocus: true, placeholder: :email, class: 'form-control'
      .form-group.signin-password
        = f.password_field :password, autocomplete: 'off', placeholder: :password, class: 'form-control'
      .form-group.signin-password
        = f.password_field :password_confirmation, autocomplete: 'off', placeholder: :password_confirmation, class: 'form-control'
      .form-group
        = f.submit 'Sign up', data: { "disable-with": "Signing up..." }, class: 'btn btn-primary btn-block'
    %span.text-md
      Do you have an account already?
      = link_to 'Log in', new_user_session_path, class: 'text-slim'
