.widget-timeline-info
  .widget-timeline-bullet{ class: "#{'bg-primary' if future_checkin}" }
.card
  .card-body.text-md
    = future_checkin ? 'You are going to visit' : 'You visited'
    = link_to checkin.country_common_name, country_path(id: checkin.country_cca2)
    .d-xs-block.d-sm-block.d-md-none
    = image_tag(checkin.flag_image_path, style: 'height: 32px;')
    - if future_checkin
      in
      = distance_of_time_in_words(Time.current, checkin.checkin_date)
  .card-footer
    .text-xs.text-muted
      = checkin.checkin_date
      = link_to edit_checkin_path(checkin.checkin) do
        %i.fas.fa-edit
      |
      = link_to checkin.checkin, method: :delete, data: { confirm: "Are you sure?" } do
        %i.fas.fa-trash
