.panel
  .panel-heading
    Country details
  %table.table.text-sm
    %tr
      %td
        %b Official name
      %td= country.name_official
    %tr
      %td
        %b Common name
      %td= country.name_common
    %tr
      %td
        %b Capital
      %td= country.capital
    %tr
      %td
        %b Languages
      %td
        = country.country_languages.map(&:name_and_code).to_sentence
    %tr
      %td
        %b Currency
      %td= country.currencies.map(&:code).to_sentence
    %tr
      %td
        %b Calling code
      %td
        = country.country_calling_codes.map(&:calling_code).to_sentence
    %tr
      %td
        %b Demonym
      %td= country.demonym
