- visited_countries = VisitedCountriesCounter.new(current_user)
.row
  .col-xs-6
    = render 'dashboard/index/pie_charts/world_pie_chart', visited_countries_count: visited_countries.visited_world_countries_count
  .col-xs-6
    = render 'dashboard/index/pie_charts/europe_pie_chart', visited_countries_count: visited_countries.visited_european_countries_count
.row
  .col-xs-6
    = render 'dashboard/index/pie_charts/north_america_pie_chart', visited_countries_count: visited_countries.visited_north_american_countries_count
  .col-xs-6
    = render 'dashboard/index/pie_charts/south_america_pie_chart', visited_countries_count: visited_countries.visited_south_american_countries_count
.row
  .col-xs-6
    = render 'dashboard/index/pie_charts/asia_pie_chart', visited_countries_count: visited_countries.visited_asian_countries_count
  .col-xs-6
    = render 'dashboard/index/pie_charts/africa_pie_chart', visited_countries_count: visited_countries.visited_african_countries_count
.row
  .col-xs-6
    = render 'dashboard/index/pie_charts/australia_pie_chart', visited_countries_count: visited_countries.visited_oceanian_countries_count
  .col-xs-6
    = render 'dashboard/index/pie_charts/antarctica_pie_chart', visited_countries_count: visited_countries.visited_antarctican_countries_count
