.row.hidden-xs
  .col-sm-12
    %a#link.pull-right{ href: '#', onclick: "saveSvg(document.getElementById('world-svg-desktop'), 'wold_map')" }
      %span#download-text.hidden Download map
      %i#download-icon.fas.fa-cloud-download-alt.font-size-24
.row
  .col-sm-12
    .tab-content{ style: 'max-height: 700px; max-width: 1000px; margin: auto; padding-top: 0;' }
      .d-none.d-xs-block
        = render 'dashboard/index/maps/world', dashboard: @dashboard, id: 'world-svg-desktop'
      .d-block.d-xs-none
        = render 'dashboard/index/maps/world', dashboard: @dashboard, id: 'world-svg-mobile'
.row
  .col-sm-12
    = render 'dashboard/index/maps/country_checked', countries: @dashboard.country_code_array

= content_for :js do
  = render 'dashboard/index/maps/world_script_desktop'
  = render 'dashboard/index/maps/world_script_mobile'
