.row
  .col-sm-12
    %ul.nav.nav-pills.nav-justified
      %li.active
        = link_to 'World', '#world-pill', data: { toggle: 'tab' }
      %li
        = link_to 'Europe', '#europe-pill', data: { toggle: 'tab' }
      %li
        = link_to 'North America', '#north_america-pill', data: { toggle: 'tab' }
      %li
        = link_to 'South America', '#south_america-pill', data: { toggle: 'tab' }
      %li
        = link_to 'Asia', '#asia-pill', data: { toggle: 'tab' }
      %li
        = link_to 'Africa', '#africa-pill', data: { toggle: 'tab' }
      %li
        = link_to 'Australia', '#australia-pill', data: { toggle: 'tab' }
      %li
        = link_to 'Antarctica', '#antarctica-pill', data: { toggle: 'tab' }
.row
  .col-sm-12
    .tab-content{ style: 'max-height: 650px;' }
      .tab-pane.active#world-pill
        = render 'shared/maps/world'
      .tab-pane#europe-pill
        = render 'shared/maps/europe'
      .tab-pane#north_america-pill
        = render 'shared/maps/north_america'
      .tab-pane#south_america-pill
        = render 'shared/maps/south_america'
      .tab-pane#asia-pill
        = render 'shared/maps/asia'
      .tab-pane#africa-pill
        = render 'shared/maps/africa'
      .tab-pane#australia-pill
        = render 'shared/maps/australia'
      .tab-pane#antarctica-pill
        = render 'shared/maps/antarctica'
    = render 'shared/maps/country_checked', countries: country_code_array(current_user.visited_countries)
