.row.row-cols-2.row-cols-md-4.mb-2.mx-auto
  .col.p-1
    = render 'profile/shared/pie_charts/world_pie_chart', countries_count: @profile.countries_count, visited_countries_count: @profile.visited_countries_count
  .col.p-1
    = render 'profile/shared/pie_charts/europe_pie_chart', countries_count: @profile.european_countries_count, visited_countries_count: @profile.visited_european_countries_count
  .col.p-1
    = render 'profile/shared/pie_charts/north_america_pie_chart', countries_count: @profile.north_american_countries_count, visited_countries_count: @profile.visited_north_american_countries_count
  .col.p-1
    = render 'profile/shared/pie_charts/south_america_pie_chart', countries_count: @profile.south_american_countries_count, visited_countries_count: @profile.visited_south_american_countries_count
.row.row-cols-2.row-cols-md-4.mb-2.mx-auto
  .col.p-1
    = render 'profile/shared/pie_charts/asia_pie_chart', countries_count: @profile.asian_countries_count, visited_countries_count: @profile.visited_asian_countries_count
  .col.p-1
    = render 'profile/shared/pie_charts/africa_pie_chart', countries_count: @profile.african_countries_count, visited_countries_count: @profile.visited_african_countries_count
  .col.p-1
    = render 'profile/shared/pie_charts/australia_pie_chart', countries_count: @profile.oceanian_countries_count, visited_countries_count: @profile.visited_oceanian_countries_count
  .col.p-1
    = render 'profile/shared/pie_charts/antarctica_pie_chart', countries_count: @profile.antarctican_countries_count, visited_countries_count: @profile.visited_antarctican_countries_count
