- render 'shared/error_messages'
.form-row.mb-3
  .col-md-8.mb-3
    = f.label :profile, class: 'col-form-label pb-0'
    %small.form-text.text-muted
      Would you like to share your profile with friends?
      %br
      You need to make it public.
  .col-md-4
    .custom-control.custom-switch{ data: { controller: 'switch', switch_checked_text: 'Profile: private', switch_unchecked_text: 'Profile: public' } }
      = f.check_box :public_profile, value: current_user.public_profile, class: 'custom-control-input p-1', data: { action: 'switch#updateLabel' }
      = f.label :public_profile, "#{user_profile_switch_label(current_user)}", class: 'custom-control-label text-muted', for: 'user_public_profile', data: { target: 'switch.label' }
%hr
.form-row.mb-3
  .col-md-8.mb-3
    = f.label :colour, class: 'col-form-label pb-0'
    %small.form-text.text-muted Choose your map colour
  .col-md-4
    = f.text_field :color, type: 'color', value: user_preferences_colour, class: 'form-control p-1'
%hr
.form-row.mb-3
  .col-md-8.mb-3
    = f.label :countries, class: 'col-form-label pb-0'
    %small.form-text.text-muted Choose your country selection for dashboard statistics
  .col-md-4
    .form-check
      = f.radio_button :countries, :all, checked: countries_all?(current_user), class: 'form-check-input'
      = f.label :countries, 'all', class: 'form-check-label', for: 'user_countries_all'
    .form-check
      = f.radio_button :countries, :un_member, checked: countries_un_member?(current_user), class: 'form-check-input'
      = f.label :countries, 'UN members only', class: 'form-check-label', for: 'user_countries_un_member'
    .form-check
      = f.radio_button :countries, :independent, checked: countries_independent?(current_user), class: 'form-check-input'
      = f.label :countries, 'independent only', class: 'form-check-label', for: 'user_countries_independent'
%hr
.form-row.mb-3
.form-group
  = submit_tag 'Save', data: { "disable-with": "Saving..." }, class: 'btn btn-primary btn-block'
