- user_profile =  user_profile(current_user)
- profile_uri = "#{profile_url}/"
- render 'shared/error_messages'
.form-row.mb-3
  .col-md-8
    = f.label :profile, class: 'col-form-label pb-0'
    %small.form-text.text-muted
      Would you like to share your countrify profile with friends?
      %br
      You need to make it public.
  .col-md-4
    .custom-control.custom-switch{ data: { controller: 'switch', switch_checked_text: 'Profile: private', switch_unchecked_text: 'Profile: public' } }
      = f.check_box :public_profile, value: current_user.public_profile?, class: 'custom-control-input p-1', data: { action: 'switch#updateLabel', toggle: 'collapse', target: '#profile-collapse' }, aria: { expanded: current_user.public_profile, controls: 'profile-collapse' }
      = f.label :public_profile, "#{user_profile_switch_label(current_user)}", class: 'custom-control-label text-muted', for: 'user_public_profile', data: { switch_target: 'label' }
#profile-collapse.form-row.collapse{ class: "#{'show' if current_user.public_profile?}", data: { parent: "#user_public_profile", controller: 'input-availability', input_availability_url: profile_availability_path(:json), input_availability_param: 'profile', input_availability_current_value: "#{user_profile}"} }
  .col-xs-12.mb-3
    = f.label :profile_name, class: 'col-form-label pb-0'
    %small.form-text.text-muted Choose your profile name, this will be used in the link to access your public countrify profile.
  .col-xs-12.input-group{ data: { controller: 'copy', copy_url: profile_uri } }
    .input-group-prepend
      .input-group-text
        .text-sm= profile_uri
    = f.text_field :profile, value: user_profile, class: 'form-control', style: 'height: inherit;', maxlength: 20, minlength: 4, pattern: '^[A-Za-z0-9]+$', title: 'Only characters (a-z) and numerics (0-9) are allowed', data: { input_availability_target: 'input', copy_target: 'source', action: 'input->input-availability#check' }
    .input-group-append
      %a.btn.btn-outline-dark{ data: { action: 'copy#copy' } }
        %i.far.fa-clipboard{ data: { copy_target: 'icon' } }
    #profile-feedback{ data: { input_availability_target: 'feedback' } }
%hr
.form-row.mb-3
  .col-md-8.mb-3
    = f.label :colour, class: 'col-form-label pb-0'
    %small.form-text.text-muted Choose your map colour
  .col-md-4
    = f.text_field :color, type: 'color', value: user_preferences_colour, class: 'form-control p-1'
%hr
.form-row.mb-3
  .col-md-8.mb-3
    = f.label :countries, class: 'col-form-label pb-0'
    %small.form-text.text-muted Choose your country selection for dashboard statistics
  .col-md-4
    .form-check
      = f.radio_button :countries, :all, checked: countries_all?(current_user), class: 'form-check-input'
      = f.label :countries, 'all', class: 'form-check-label', for: 'user_countries_all'
    .form-check
      = f.radio_button :countries, :un_member, checked: countries_un_member?(current_user), class: 'form-check-input'
      = f.label :countries, 'UN members only', class: 'form-check-label', for: 'user_countries_un_member'
    .form-check
      = f.radio_button :countries, :independent, checked: countries_independent?(current_user), class: 'form-check-input'
      = f.label :countries, 'independent only', class: 'form-check-label', for: 'user_countries_independent'
%hr
.form-row.mb-3
.form-group
  = submit_tag 'Save', data: { "disable-with": "Saving..." }, class: 'btn btn-primary btn-block'
