%li.px-nav-item.px-nav-dropdown
  = link_to '#' do
    %i.px-nav-icon.fas.fa-space-shuttle
    %span.px-nav-label
      Explore
  %ul.px-nav-dropdown-menu
    %li.px-nav-item
      = link_to explore_worlds_path, id: nav_item_id(explore_worlds_path) do
        %span.px-nav-label World
    %li.px-nav-item
      = link_to explore_europes_path, id: nav_item_id(explore_europes_path) do
        %span.px-nav-label Europe
    %li.px-nav-item
      = link_to explore_north_americas_path, id: nav_item_id(explore_north_americas_path) do
        %span.px-nav-label Noth America
    %li.px-nav-item
      = link_to explore_south_americas_path, id: nav_item_id(explore_south_americas_path) do
        %span.px-nav-label South America
    %li.px-nav-item
      = link_to explore_asias_path, id: nav_item_id(explore_asias_path) do
        %span.px-nav-label Asia
    %li.px-nav-item
      = link_to explore_africas_path, id: nav_item_id(explore_africas_path) do
        %span.px-nav-label Africa
    %li.px-nav-item
      = link_to explore_oceanias_path, id: nav_item_id(explore_oceanias_path) do
        %span.px-nav-label Oceania
    %li.px-nav-item
      = link_to explore_antarcticas_path, id: nav_item_id(explore_antarcticas_path) do
        %span.px-nav-label Antrctica
