.d-flex.flex-row.justify-content-center.mt-3.mb-3.row
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'panel col-xs-12 col-sm-10 col-md-8 col-lg-5 col-xl-4' }) do |f|
    = render 'devise/shared/error_messages', resource: resource
    .form-group
      = f.email_field :email, autofocus: true, placeholder: :email, class: 'form-control'
    .form-group.signin-password
      = f.password_field :password, autocomplete: 'off', placeholder: :password, class: 'form-control'
    .form-group
      = f.submit 'Log in', data: { "disable-with": "Logging in..." }, class: 'btn btn-primary btn-block'
.d-flex.flex-row.justify-content-center.mt-3
  .text-md
    = link_to 'Forgot password?', new_password_path(:user), class: 'forgot text-slim'
.d-flex.flex-row.justify-content-center.mt-3
  .text-md
    Don't have an account yet?
    = link_to 'Sign up', new_user_registration_path, class: 'text-slim'
.d-flex.flex-row.justify-content-center.my-5
  .text-md
    By logging in you agree to countrify's &nbsp;
    %br
    = link_to 'terms and privacy policy', terms_path, target: '_blank'
