.row
  .col-xs-12.mx-auto.px-lg-5.mt-3
    = form_for(resource, as: resource_name, url: session_path(resource_name), class: 'panel') do |f|
      = devise_error_messages!
      .form-group
        = f.email_field :email, autofocus: true, placeholder: :email, class: 'form-control'
      .form-group.signin-password
        = f.password_field :password, autocomplete: 'off', placeholder: :password, class: 'form-control'
      .form-group
        = f.submit 'Log in', data: { "disable-with": "Logging in..." }, class: 'btn btn-primary btn-block'
    .text-md
      = link_to 'Forgot password?', new_password_path(:user), class: 'forgot'
    .text-md
      Don't have an account yet?
      = link_to 'Sign up', new_user_registration_path, class: 'text-slim'
