- provide(:title, "Countries")
.row
  .col-lg-12.margin-b-20
    = render 'shared/map'

.row
  .col-sm-4
    %b Country
  .col-sm-2
    %b Country Code
  .col-sm-2
    %b Capital
  .col-sm-1
    %b Currency
  .col-sm-3
    %b Region
- @countries.each do |country|
  .row
    .col-sm-4= country.name_official
    .col-sm-2= country.cca2
    .col-sm-2= country.capital
    .col-sm-1
      - country.currencies.each do |currency|
        = currency.currency_code
    .col-lg-3= "#{country.region} - #{country.subregion}"
.row
  .col-lg-5.margin-t-20
    = will_paginate @countries, renderer: BootstrapPagination::Rails
