- provide(:title, "Countries")
.row
  .col-lg-12
    = render 'shared/map'

.row
  .col-lg-4
    %b Country
  .col-lg-2
    %b Country Code
  .col-lg-2
    %b Capital
  .col-lg-1
    %b Currency
  .col-lg-3
    %b Region
- @countries.each do |country|
  .row
    .col-lg-4= country.name_official
    .col-lg-2= country.cca2
    .col-lg-2= country.capital
    .col-lg-1= country.currency
    .col-lg-3= "#{country.region} - #{country.subregion}"
.row
  .col-lg-12
    = will_paginate @countries, renderer: BootstrapPagination::Rails
