- provide(:title, @country.name_common)

.row.row-cols-2
  .col-xs-6.mr-auto
    %span.text-lg
      = @country.name_common
      = image_tag(@country.flag_image_path, style: 'height: 27px;')
    = visit_badge(@country)
  .col-xs-6.text-right
    = link_to new_checkin_path(country: @country.cca2), class: 'btn btn-sm btn-labeled btn-primary pull-right' do
      %span
        %i.fas.fa-plus.text-sm
        Add checkin
.row.row-cols-1.justify-content
  #mapbox.mapbox{ data: { controller: 'mapbox', mapbox_target: 'element', mapbox_api_key: "#{ENV.fetch('MAPBOX_KEY')}", mapbox_geojson: @geojson, mapbox_cca3: @country.cca3, mapbox_lat: @country.latitude, mapbox_lng: @country.longitude } }
  %hr
.row.row-cols-1.row-cols-md-2.row-cols-lg-3
  .col
    = render 'countries/show/country_details', country: @country
  .col
    = render 'countries/show/geographical_details', country: @country
  .col
    = render 'countries/show/miscellaneous_details', country: @country
