%li.nav-item.sidebar-section
  = link_to '#', id: 'sidebarCheckinsHeading', class: 'nav-link', data: { toggle: 'collapse', target: '#sidebarCheckins', expanded: 'false', controls: 'sidebarCheckins'  }, role: 'button' do
    %i.fas.fa-calendar-check
    %span.text-truncate Checkins
  #sidebarCheckins.sidebar-collapsable.collapse{ data: { parent: '#sidebar' }, aria: { labelledby: 'sidebarCheckinsHeading', expanded: 'false' } }
    %ul.flex-column.pl-2.nav
      %li.nav-item.text-md
        = link_to checkins_worlds_path, class: 'nav-link', id: nav_item_id(checkins_worlds_path) do
          %span World
      %li.nav-item.text-md
        = link_to checkins_europeans_path, class: 'nav-link', id: nav_item_id(checkins_europeans_path) do
          %span Europe
      %li.nav-item.text-md
        = link_to checkins_north_americans_path, class: 'nav-link', id: nav_item_id(checkins_north_americans_path) do
          %span Noth America
      %li.nav-item.text-md
        = link_to checkins_south_americans_path, class: 'nav-link', id: nav_item_id(checkins_south_americans_path) do
          %span South America
      %li.nav-item.text-md
        = link_to checkins_asians_path, class: 'nav-link', id: nav_item_id(checkins_asians_path) do
          %span Asia
      %li.nav-item.text-md
        = link_to checkins_africans_path, class: 'nav-link', id: nav_item_id(checkins_africans_path) do
          %span Africa
      %li.nav-item.text-md
        = link_to checkins_oceanians_path, class: 'nav-link', id: nav_item_id(checkins_oceanians_path) do
          %span Oceania
      %li.nav-item.text-md
        = link_to checkins_antarcticans_path, class: 'nav-link', id: nav_item_id(checkins_antarcticans_path) do
          %span Antrctica
