%li.nav-item.sidebar-section
  = link_to '#', id: 'sidebarExploresHeading', class: 'nav-link', data: { toggle: 'collapse', target: '#sidebarExplores', expanded: 'false', controls: 'sidebarExplores' }, role: 'button' do
    %i.fas.fa-space-shuttle
    %span.nav-label Explore
  #sidebarExplores.sidebar-collapsable.collapse{ data: { parent: '#sidebar' }, aria: { expanded: 'false' } }
    %ul.flex-column.pl-2.nav
      %li.nav-item.text-md
        = link_to explores_path, class: 'nav-link', id: nav_item_id(explores_path) do
          %span World
      %li.nav-item.text-md
        = link_to explores_path(scope: 'europe'), class: 'nav-link', id: nav_item_id(explores_path, scope: 'europe') do
          %span Europe
      %li.nav-item.text-md
        = link_to explores_path(scope: 'north_america'), class: 'nav-link', id: nav_item_id(explores_path, scope: 'north_america') do
          %span Noth America
      %li.nav-item.text-md
        = link_to explores_path(scope: 'south_america'), class: 'nav-link', id: nav_item_id(explores_path, scope: 'south_america') do
          %span South America
      %li.nav-item.text-md
        = link_to explores_path(scope: 'asia'), class: 'nav-link', id: nav_item_id(explores_path, scope: 'asia') do
          %span Asia
      %li.nav-item.text-md
        = link_to explores_path(scope: 'africa'), class: 'nav-link', id: nav_item_id(explores_path, scope: 'africa') do
          %span Africa
      %li.nav-item.text-md
        = link_to explores_path(scope: 'oceania'), class: 'nav-link', id: nav_item_id(explores_path, scope: 'oceania') do
          %span Oceania
      %li.nav-item.text-md
        = link_to explores_path(scope: 'antarctica'), class: 'nav-link', id: nav_item_id(explores_path, scope: 'antarctica') do
          %span Antarctica
