<%- unless can_show_profile?(@user) %>
  <%= render 'shared/overlay', message: "Unable to access this profile, it does not exist or is not public.\nSorry." %>
<% end %>
<div  data-action='resize@window->svg-map#resize' data-controller='download-svg svg-map' data-download-svg-filename='world_map' data-shell-target='element'>
  <div class="flex bg-white grid justify-end">
    <%- if current_user?(@user) %>
      <%= render 'profile/map_download' %>
    <% end %>
  </div>
  <div class="flex justify-center relative bg-white p-2 shadow-md shadow-violet-900/5 overflow-hidden mb-5">
    <%= render 'profile/shared/map' %>
  </div>
<div>

<div class="flex items-stretch grid grid-cols-1 xl:grid-cols-2 gap-5">
  <div class="flex justify-evenly relative bg-white p-6 shadow-md shadow-violet-900/5 rounded-xl overflow-hidden grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 xl:grid-cols-4 content-evenly">
    <%= render 'profile/shared/continent_progress_charts' %>
  </div>
  <div class="flex justify-evenly relative bg-white p-6 shadow-md shadow-violet-900/5 rounded-xl overflow-hidden grid grid-cols-2 gap-10">
    <%= bar_chart @profile.top_countries_chart_data, dataset: { responsive: true, borderWidth: 0, barThickness: 10, backgroundColor: '#E9573F' } %>
    <%= bar_chart @profile.top_regions_chart_data, dataset: { responsive: true, borderWidth: 0, barThickness: 10, backgroundColor: '#E9573F' } %>
  </div>
</div>

<div class="flex items-stretch grid grid-cols-1 gap-5">
  <div class="flex justify-evenly relative bg-white p-6 shadow-md shadow-violet-900/5 rounded-xl overflow-hidden">
    <%= line_chart @profile.yearly_countries_chart_data, colors: ["#E9573F", "#4A89DC"] %>
  </div>
</div>
