.row
  .col-sm-12
    .tab-content{ style: 'max-height: 650px;' }
      .tab-pane.active#world-pill
        = render 'dashboard/show/maps/world'
      .tab-pane#europe-pill
        = render 'dashboard/show/maps/europe'
      .tab-pane#north_america-pill
        = render 'dashboard/show/maps/north_america'
      .tab-pane#south_america-pill
        = render 'dashboard/show/maps/south_america'
      .tab-pane#asia-pill
        = render 'dashboard/show/maps/asia'
      .tab-pane#africa-pill
        = render 'dashboard/show/maps/africa'
      .tab-pane#australia-pill
        = render 'dashboard/show/maps/australia'
      .tab-pane#antarctica-pill
        = render 'dashboard/show/maps/antarctica'
    = render 'dashboard/show/maps/country_checked', countries: country_code_array(current_user.countries)
-# .row
-#   .col-sm-12
-#     %ul.nav.nav-pills.nav-justified
-#       %li.active
-#         = link_to 'World', '#world-pill', data: { toggle: 'tab' }
-#       %li
-#         = link_to 'Europe', '#europe-pill', data: { toggle: 'tab' }
-#       %li
-#         = link_to 'North America', '#north_america-pill', data: { toggle: 'tab' }
-#       %li
-#         = link_to 'South America', '#south_america-pill', data: { toggle: 'tab' }
-#       %li
-#         = link_to 'Asia', '#asia-pill', data: { toggle: 'tab' }
-#       %li
-#         = link_to 'Africa', '#africa-pill', data: { toggle: 'tab' }
-#       %li
-#         = link_to 'Australia', '#australia-pill', data: { toggle: 'tab' }
-#       %li
-#         = link_to 'Antarctica', '#antarctica-pill', data: { toggle: 'tab' }
