= turbo_frame_tag dom_id(checkin_facade) do
  .widget-timeline-info
    .widget-timeline-bullet{ class: "#{'bg-primary' if checkin_facade.future_checkin?}" }
    .widget-timeline-time{ class: "#{'bg-primary text-white' if checkin_facade.future_checkin?}" }= checkin_facade.checkin_date
  .card
    .card-body.text-md.px-auto
      = checkin_facade.future_checkin? ? 'You are going to visit' : 'You visited'
      = link_to checkin_facade.country_common_name, country_path(id: checkin_facade.country_cca2), class: 'align-middle', target: '_top'
      = image_tag(checkin_facade.flag_image_path, style: 'height: 32px;', class: 'align-middle')
      - if checkin_facade.future_checkin?
        in
        = distance_of_time_in_words(Time.current, checkin_facade.checkin_date)
    .card-footer
      .d-flex.text-md.text-muted
        = link_to edit_checkin_path(checkin_facade.checkin), class: 'ml-3 btn-sm p-0 m-0' do
          %i.fas.fa-edit
        %span.mx-2= '|'
        = button_to checkin_path(checkin_facade.checkin), method: :delete, class: 'btn btn-link btn-sm p-0 m-0' do
          %i.fas.fa-trash
