.timeline.centered
  - timeline.items.each_with_index do |checkin, index|
    - future_checkin = timeline.future_checkin?(index)
    .tl-entry{ class: "#{cycle('', 'left')}" }
      .tl-time
        = checkin.checkin_date
        .timeline_item_actions
          = link_to 'Edit', edit_checkin_path(checkin.checkin)
          |
          = link_to 'Delete', checkin.checkin, method: :delete, data: { confirm: "Are you sure?" }
      .panel.tl-body
        %div
          = future_checkin ? 'You are going to visit' : 'You visited'
          = link_to checkin.country_common_name, country_path(checkin.country)
          = image_tag(checkin.flag_image_path, style: 'height: 32px;')
          - if future_checkin
            in
            = distance_of_time_in_words(Time.current, checkin.checkin_date)
    - if timeline.year_marker?(index)
      .tl-header
        = checkin.checkin_year
    - if timeline.today_marker?(index)
      .tl-header.now.bg-primary
        Today
