- render 'shared/error_messages'
.form-group
  = f.label :country, class: 'text-md font-weight-bold'
  = f.collection_select(:country_id, Country.arranged_by_name, :id, :name_common, { prompt: true, selected: selected_country(@checkin) }, { class: 'form-control custom-select' })
.form-group
  = f.label :checkin_date, class: 'text-md font-weight-bold'
  = f.date_field :checkin_date, autocomplete:'off', value: render_date(@checkin.checkin_date), class: 'form-control'
.form-group
  = submit_tag 'Save', data: { "disable-with": "Saving..." }, class: 'btn btn-primary btn-block'
  = link_to 'Cancel', @checkin, class: 'btn btn-block btn-outline-secondary'
