- render 'shared/error_messages'
.form-group-lg.m-t-1
  = f.label :country, class: 'form-label'
.form-group-lg
  = f.collection_select(:country_id, Country.all, :id, :name_common, { prompt: true, selected: selected_country(@checkin), class: 'form-control' })
.form-group-lg.m-t-1
  = f.label :checkin_date, class: 'form-label'
  = f.text_field :checkin_date, autocomplete:'off', value: render_date(@checkin.checkin_date), class: 'form-control'
.form-group-lg.m-t-1
  = submit_tag 'Save', class: 'btn btn-primary btn-block'
  = link_to 'Cancel', checkins_worlds_path, class: 'btn btn-block'

= content_for :js do
  :javascript
    $(function() {
      var options = {
        format: 'yyyy-mm-dd',
        autoclose: true,
        orientation: 'bottom auto',
        weekStart: 1
      };

      $('#checkin_country_id').select2({
        placeholder: 'Select country',
      });

      $('#checkin_checkin_date').datepicker(options)
        .datepicker('setValue', new Date)
        .on('changeDate', function() {
          $('.datepicker').hide();
        });
    });
