!!! 5

<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->
%html{ lang: 'en' }
  %head
    = render 'layouts/head'
  %body.d-flex.flex-column.h-100.sticky-footer-wrapper{ class: "#{ yield :page_specific_body_class }" , data: { controller: 'shell' } }
    = render 'layouts/navbar'
    %main.nav-spacer{ role: 'main'}
      .d-flex.justify-content-center.my-5{ data: { 'shell-target': 'spinner' } }
        .spinner-border.text-secondary.my-5{ role: 'status' }
          %span.sr-only Loading...
      .container-fluid.p-1.px-md-4.d-none{ data: { 'shell-target': 'content' } }
        = render 'layouts/flash'
        = yield
    %footer.footer.mt-auto.py-3
      = render 'layouts/footer'
    = yield :js
    %script{type: 'text/javascript', defer: true, src: 'https://static.cloudflareinsights.com/beacon.min.js', 'data-cf-beacon': '{"token": "5a93cb1dea2d4d26ba5d4b5fe18135f7"}' }
