%li.mm-dropdown.mm-dropdown-root
  = link_to '#', class: 'hidden-xs' do
    %i.menu-icon.fas.fa-calendar-check
    %span.mm-text.mmc-dropdown-delay.animated.fadeIn
      Checkins
  %ul.mmc-dropdown-delay.animated.fadeInLeft.hidden-xs
    %li
      = link_to checkins_worlds_path do
        %span.mm-text World
    %li
      = link_to checkins_europeans_path do
        %span.mm-text Europe
    %li
      = link_to checkins_north_americans_path do
        %span.mm-text Noth America
    %li
      = link_to checkins_south_americans_path do
        %span.mm-text South America
    %li
      = link_to checkins_asians_path do
        %span.mm-text Asia
    %li
      = link_to checkins_africans_path do
        %span.mm-text Africa
    %li
      = link_to checkins_oceanians_path do
        %span.mm-text Oceania
    %li
      = link_to checkins_antarcticans_path do
        %span.mm-text Antrctica
