%li.mm-dropdown.mm-dropdown-root
  = link_to '#', class: 'hidden-xs' do
    %i.menu-icon.fa.fa-space-shuttle
    %span.mm-text
      Explore
  %ul.mmc-dropdown-delay.animated.fadeInLeft.hidden-xs
    %li
      = link_to explore_worlds_path do
        %span.mm-text World
    %li
      = link_to explore_europes_path do
        %span.mm-text Europe
    %li
      = link_to explore_north_americas_path do
        %span.mm-text Noth America
    %li
      = link_to explore_south_americas_path do
        %span.mm-text South America
    %li
      = link_to explore_asias_path do
        %span.mm-text Asia
    %li
      = link_to explore_africas_path do
        %span.mm-text Africa
    %li
      = link_to explore_oceanias_path do
        %span.mm-text Oceania
    %li
      = link_to explore_antarcticas_path do
        %span.mm-text Antrctica
