.row.p-2.text-sm.text-body
  .col-sm-12.col-md-6.px-3
    %p.text-justify.mb-md-0
      %span.text-black-50 Any feature ideas or issues?
      = mail_to('hello@countrify.net', 'hello@countrify.net', subject: 'countrify')
    %p.text-justify
      %span.text-black-50 You enjoy using the app and would like to suport it?
      = link_to('Why don\'t you buy me a coffee?', 'https://paypal.me/rkorzeniec', target: '_blank', rel: 'noopener noreferrer')
    %p.text-justify
      %br
      %span.text-justify.text-black-50
        made with
        %i.fas.fa-heart
        and
        %i.fas.fa-terminal
        by
        = link_to('Robert Korzeniec', 'https://github.com/rkorzeniec', target: '_blank', rel: 'noopener noreferrer')
        = "\u00A9 #{Date.today.year}"
    .d-xs-block.d-sm-block.d-md-none
      %hr
  .col-sm-12.col-md-6.px-5.text-right
    %ul.list-inline
      %li.list-inline-item= link_to 'About', about_path
      %li.list-inline-item= link_to 'Terms and Privacy Policy', terms_path
