%meta{name: 'charset', content: 'utf-8' }
%meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, user-scalable=yes, minimum-scale=1.0, maximum-scale=5.0' }
%meta{name: 'title', content: page_title }
%meta{name: 'description', content: 'Your personal digital country scratch map. Keep track the countries you have visited. Keep up to date with your travels and cross those countries of your bucket list.' }
%meta{name: 'theme-color', content: '#ffffff' }

= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track' => true
= preload_link_tag('application.css')
= preload_link_tag('fa-regular-400.woff2')
= preload_link_tag('fa-solid-900.woff2')
= yield :layout_custom_head
= javascript_packs_with_chunks_tag 'application', 'bootstrap', 'stimulus', 'data-turbolinks-track': 'reload', defer: true, async: true

%link{ href: '/favicon.ico', rel: 'icon', type: 'image/x-icon' }
%link{ rel: 'apple-touch-icon', sizes: '180x180', href: '/apple-touch-icon.png' }
%link{ rel: 'icon', type: 'image/png', sizes: '32x32', href: '/favicon-32x32.png' }
%link{ rel: 'icon', type: 'image/png', sizes: '16x16', href: '/favicon-16x16.png' }
%link{ rel: 'manifest', href: '/site.webmanifest' }

%title= page_title
= csrf_meta_tags
