%meta{ name: 'charset', content: 'utf-8' }
%meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, user-scalable=yes, minimum-scale=1.0, maximum-scale=5.0' }
%meta{ name: 'title', content: page_title }
%meta{ name: 'description', content: 'Your personal digital country scratch map. Keep track the countries you have visited. Keep up to date with your travels and cross those countries of your bucket list.' }
%meta{ name: 'theme-color', content: '#ffffff' }
%meta{ name: 'apple-mobile-web-app-capable', content: 'yes' }
%meta{ name: 'apple-mobile-web-app-status-bar-style', content: 'white' }

= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track' => true
= yield :layout_custom_head
= javascript_importmap_tags

%link{ href: '/favicon.ico', rel: 'icon', type: 'image/x-icon' }
%link{ rel: 'apple-touch-icon', sizes: '180x180', href: '/apple-touch-icon.png' }
%link{ rel: 'icon', type: 'image/png', sizes: '32x32', href: '/favicon-32x32.png' }
%link{ rel: 'icon', type: 'image/png', sizes: '16x16', href: '/favicon-16x16.png' }
%link{ rel: 'apple-touch-startup-image', href:'/apple_splash_2048.png', sizes: '048x2732' }
%link{ rel: 'apple-touch-startup-image', href:'/apple_splash_1668.png', sizes: '668x2224' }
%link{ rel: 'apple-touch-startup-image', href:'/apple_splash_1536.png', sizes: '536x2048' }
%link{ rel: 'apple-touch-startup-image', href:'/apple_splash_1125.png', sizes: '125x2436' }
%link{ rel: 'apple-touch-startup-image', href:'/apple_splash_1242.png', sizes: '242x2208' }
%link{ rel: 'apple-touch-startup-image', href:'/apple_splash_750.png', sizes: '750x1334' }
%link{ rel: 'apple-touch-startup-image', href:'/apple_splash_640.png', sizes: '640x1136' }
%link{ rel: 'manifest', href: '/manifest.json' }

%title= page_title
= csrf_meta_tags
