#main-menu{ role: 'navigation' }
  .slimScrollDiv{ style: 'position: relative; overflow: hidden; width: auto; height: 100%;' }
    #main-menu-inner{ 'style' => 'overflow: hidden; width: auto; height: 100%;' }
      %ul.navigation
        %li.mm-dropdown.mm-dropdown-root
          = link_to '#', class: 'hidden-xs' do
            %i.menu-icon.fa.fa-globe
            %span.mm-text.mmc-dropdown-delay.animated.fadeIn Checkins
          = link_to checkins_path, class: 'visible-xs' do
            %i.menu-icon.fa.fa-globe
            %span.mm-text Checkins
          %ul.mmc-dropdown-delay.animated.fadeInLeft.hidden-xs
            %li
              = link_to checkins_path, tabindex: -1 do
                %span.mm-text World Checkins
            %li
              = link_to checkins_europe_index_path, tabindex: -1 do
                %span.mm-text Europe Checkins
            %li
              = link_to checkins_north_america_index_path, tabindex: -1 do
                %span.mm-text Noth America Checkins
            %li
              = link_to checkins_south_america_index_path, tabindex: -1 do
                %span.mm-text South America Checkins
            %li
              = link_to checkins_asia_path, tabindex: -1 do
                %span.mm-text Asia Checkins
            %li
              = link_to checkins_africa_index_path, tabindex: -1 do
                %span.mm-text Africa Checkins
            %li
              = link_to checkins_oceania_path, tabindex: -1 do
                %span.mm-text Oceania Checkins
            %li
              = link_to checkins_antarctica_index_path, tabindex: -1 do
                %span.mm-text Antrctica Checkins


    .slimScrollBar{ style: 'width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 1245px; background: rgb(0, 0, 0);' }
    .slimScrollRail{ style: 'width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51)' }
