<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!-- Icon when menu is closed. Heroicon name: outline/bars-3. Menu open: "hidden", Menu closed: "block" -->
          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!--
            Icon when menu is open. Heroicon name: outline/x-mark. Menu open: "block", Menu closed: "hidden" -->
          <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center text-gray-300">
          <%= link_to profile_path, class: "mr-1 flex items-center " do %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5" stroke-width="1.5" stroke="currentColor">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            <span>countrify</span>
          <% end %>
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <%- if user_signed_in? %>
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <%= link_to 'Dashboard', profile_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium #{active_nav_class('profile')}" %>
              <%= link_to 'Explore', explores_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium #{active_nav_class('explore')}" %>
              <%= link_to 'Checkins', profile_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium #{active_nav_class('checkins')}" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <%- if user_signed_in? %>
          <%= link_to profile_path, class: "flex items-center justify-center py-1 px-2 text-sm font-medium text-gray-300 bg-gray-700 rounded-lg border-l border-t border-b border-slate-600 hover:text-white focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700" do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
            </svg>
            Add checkin
          <% end %>

          <%- if user_has_unread_notifications? %>
            <!-- Notifications dropdown -->
            <div class="relative ml-3" data-controller="dropdown" data-dropdown-invisible-class="opacity-0 scale-95" data-dropdown-visible-class="opacity-100 scale-100" data-dropdown-entering-class="ease-out duration-100" data-dropdown-enter-timeout="100" data-dropdown-leaving-class="ease-in duration-75" data-dropdown-leave-timeout="75">
              <div data-action="click->dropdown#toggle click@window->dropdown#hide" data-dropdown-target="button" >
                <button type="button" class="rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                  <span class="sr-only">View notifications</span>
                  <!-- Heroicon name: outline/bell -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                  </svg>
                </button>
              </div>
              <div data-dropdown-target="menu" class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                <!-- Active: "bg-gray-100", Not Active: "" -->
                <% for notification in Current.user.unread_notifications do %>
                  <%= render partial: "notifications/#{notification.notification_type}", locals: { notification: notification }, formats: [:html] %>
                <% end %>
                <%= link_to mark_as_read_notifications_path, method: :post, remote: true, class: 'flex items-center px-4 py-2 text-sm text-gray-500 hover:bg-gray-100 whitespace-nowrap border-t-[1px] border-gray-200' do %>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                  </svg>
                  Mark all as read
                <% end %>
              </div>
            </div>
          <% end %>

          <!-- Profile dropdown -->
          <div class="relative ml-3" data-controller="dropdown" data-dropdown-invisible-class="opacity-0 scale-95" data-dropdown-visible-class="opacity-100 scale-100" data-dropdown-entering-class="ease-out duration-100" data-dropdown-enter-timeout="100" data-dropdown-leaving-class="ease-in duration-75" data-dropdown-leave-timeout="75">
            <div data-action="click->dropdown#toggle click@window->dropdown#hide" data-dropdown-target="button" >
              <button type="button" class="flex rounded-full text-gray-400 hover:text-white bg-gray-800 text-sm" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                <span class="sr-only">Open user menu</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                </svg>
              </button>
            </div>
            <div data-dropdown-target="menu" class="absolute hidden right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
              <%= link_to 'Edit profile', edit_user_registration_path, class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 whitespace-nowrap', role: 'menuitem',  tabindex: '-1', id: 'user-menu-item-0' %>
              <%= link_to 'Preferences', edit_preferences_path, class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 whitespace-nowrap', role: 'menuitem',  tabindex: '-1', id: 'user-menu-item-1' %>
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, 'data-turbo-method': :delete, class: 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 whitespace-nowrap border-t-[1px] border-gray-200', role: 'menuitem',  tabindex: '-1', id: 'user-menu-item-2' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pt-2 pb-3">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a href="#" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Dashboard</a>

      <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Team</a>

      <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Projects</a>

      <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Calendar</a>
    </div>
  </div>
</nav>
