!!! 5

<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->
%html{ lang: 'en' }
  %head
    = render 'layouts/head'
  %body.d-flex.flex-column.h-100.sticky-footer-wrapper{ class: "#{ yield :page_specific_body_class }" }
    = render 'layouts/navbar', sidebar: true
    %main{ role: 'main'}
      .container-fluid
        .row
          .col-md-3.col-lg-2.mt-md-5.pb-auto.sidebar
            = render 'layouts/sidebar'
          .col-md-9.col-lg-10.ml-xs-auto.mt-md-5.py-md-4.px-4.content
            = render 'layouts/flash'
            = yield
    %footer.footer.mt-auto.py-3
      = render 'layouts/footer'
    = yield :js
