%html
  %head
    = render 'layouts/head'
  %body{ class: "theme-default main-menu-animated animate-mm-sm animate-mm-md animate-mm-lg #{ yield :page_specific_body_class }" }
    .main-wrapper.margin-l-10.margin-r-10
      = render 'layouts/menu'
      .content-wrapper.margin-t-60
        = render 'layouts/flash'
        = yield
