!!! 5

<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->
%html{ lang: 'en' }
  %head
    = render 'layouts/head'
  %body{ data: { controller: 'shell' } }
    %nav{ class: 'bg-gray-800' }
      = render 'layouts/navbar'

    = render 'layouts/spinner'
          
    %div{ class: "relative bg-[#E7E9F2] invisible", data: { 'shell-target': 'content' } } 
      %div{ class: 'flex flex-col h-srceen justify-between antialiased' }
        %div{ class: 'w-full' }
          = render 'layouts/flash'
          = yield
      %footer{ class: 'px-4 mb-5 md:px-10 mx-auto w-full' }
        = render 'layouts/footer'
    = yield :js
    %script{type: 'text/javascript', async: true, defer: true, src: 'https://static.cloudflareinsights.com/beacon.min.js', 'data-cf-beacon': '{"token": "5a93cb1dea2d4d26ba5d4b5fe18135f7"}' }
