= content_for :layout_custom_head do
  = stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track' => true
  = preload_link_tag('dashboard.css')
  = stylesheet_packs_with_chunks_tag 'dashboard', media: 'all', 'data-turbolinks-track' => true
  = javascript_packs_with_chunks_tag 'dashboard', 'data-turbolinks-track': 'reload'
= render 'layouts/application'
